.trendingItem {
  width: 15rem;
  display: flex;
  flex: 0 0 auto;
  height: 8.75rem;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.4s ease-in;
}

.bookmarkIconCircle {
  width: 2rem;
  top: 0.5rem;
  height: 2rem;
  display: flex;
  right: 0.5rem;
  opacity: 0.7006;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.bookmarkIcon {
  display: flex;
  width: 0.729rem;
  height: 0.875rem;
}

.play,
.playIcon {
  display: none;
}

.movieDetailsWrap {
  left: 1rem;
  top: 5.38rem;
  position: absolute;
}

.movieDetails {
  gap: 0.5rem;
  opacity: 0.75;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  margin-bottom: 0.25rem;
}

.movieYear,
.iconWrap,
.movieTitle {
  font-weight: var(--small-font);
}

.circle {
  opacity: 0.5;
  display: block;
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  background: var(--text-color);
}

.iconWrap {
  gap: 0.38rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
}

.movieTitle {
  font-size: 0.9375rem;
}

@media screen and (min-width: 40rem) {
  .trendingItem {
    width: 29.375rem;
    height: 14.375rem;
  }

  .movieDetailsWrap {
    top: 9.63em;
    left: 1.5rem;
  }

  .movieDetails {
    font-size: 0.9375rem;
    margin-bottom: 0.19rem;
  }

  .movieTitle {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 65rem) {
  .trendingItem {
    cursor: pointer;
  }

  .playIcon {
    top: 50%;
    left: 50%;
    opacity: 1;
    gap: 1.19rem;
    height: 3rem;
    width: 7.3125rem;
    position: absolute;
    align-items: center;
    border-radius: 1.78125rem;
    transform: translate(-50%, -50%);
    background: var(--button-background);
  }

  .play {
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 0.56rem;
  }

  .trendingItem:hover {
    .play,
    .playIcon {
      display: flex;
    }

    .thumbnailImage {
      transform: scale(1.05);
    }
  }

  .iconWrap {
    gap: 0.38rem;
  }
}
