.layout {
  display: flex;
  height: 100dvh;
  position: relative;
  flex-direction: column;
}

.navigationBar {
  margin-bottom: 1.63rem;
}

.searchBar {
  margin: 0 1rem 1.5rem 1rem;
}

.outlet {
  flex: 1;
  overflow-y: auto;
  margin: 0 1rem 1rem 1rem;
}

@media screen and (min-width: 40rem) {
  .navigationBar {
    margin: 1.44rem 1.56rem 2.12rem 1.5rem;
  }

  .searchBar {
    margin: 0 1.56rem 2.12rem 1.5rem;
  }

  .outlet {
    margin: 0 1.56rem 3.5rem 1.5rem;
  }
}

@media screen and (min-width: 65rem) {
  .navigationBar {
    margin: 0;
    top: 2rem;
    left: 2rem;
    position: fixed;
  }

  .searchBar {
    /* margin: 4.06rem 2rem 1.3rem 9.252rem; */
    margin: 4.06rem 2rem 2.19rem 9.252rem;
  }

  .outlet {
    margin: 0 2rem 2rem 9.25rem;
  }
}
