.navbar {
  display: flex;
  height: 3.5rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 0.625rem;
  justify-content: space-between;
  background: var(--form-background);
}

.logo {
  height: 1.25rem;
  width: 1.5625rem;
}

.navItems {
  height: 1rem;
  display: flex;
  width: 8.346rem;
  justify-content: space-between;
}

.navIcon {
  display: flex;
}

.imageWrap {
  width: 1.5rem;
  height: 1.5rem;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--text-color);
}

@media screen and (min-width: 65rem) {
  .navbar {
    width: 5rem;
    gap: 4.69rem;
    height: 75vh;
    padding: 2.21rem 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navItems {
    width: 1.25rem;
    height: 12.5rem;
    flex-direction: column;
  }

  .imageWrap {
    margin-top: auto;
  }
}
