.card:first-child {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 40rem) {
  .card:first-child {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 65rem) {
  .card:first-child {
    margin-bottom: 2.5rem;
  }
}
